    body {
        background-color:darkgrey;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    label{
        color:firebrick;
        font-weight: bold;
    }

    .customBackcolor{
        background-color: beige;
    }